.dashboard-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
  
.main-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
  
  /* Error Message */
.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
  